<ion-header>
    <ion-toolbar>
        <ion-title>Libros</ion-title>
    </ion-toolbar>
    <app-search-filter [(busqueda)]="busqueda" />
</ion-header>
<ion-content>
    <div class="lista-libros">
        @if(data$ | async; as libros){
            @for (libro of libros; track $index) {
                @if (libro.titulo.toLowerCase().includes(busqueda.toLowerCase())) {
                    <app-card-info [libro]="libro" (agregarLibro)="agregar(libro)"/>
                }
            }
        }
    </div>
</ion-content>
