<ion-header>
  <ion-toolbar>
    <ion-title>Libros</ion-title>
  </ion-toolbar>

<ion-searchbar
[(ngModel)]="busqueda"
placeholder="Buscar libro por título"> </ion-searchbar> </ion-header>

<ion-content>

  <div class="lista-libros">

@for (libro of libros; track libro.titulo) {

  @if (libro.titulo.toLowerCase().includes(busqueda.toLowerCase())) {

    <ion-card class="libro-card">

      <ion-img
        class="portada"
        [src]="libro.caratula">
      </ion-img>

      <ion-card-header>

        <ion-card-title>
          {{ libro.titulo }}
        </ion-card-title>

        <ion-card-subtitle>
          {{ libro.edicion }}
        </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        {{ libro.descripcion }}
      </ion-card-content>

      <ion-button
        expand="block"
        (click)="agregar(libro)">
        Agregar
      </ion-button>

    </ion-card>

  }

}

  </div>

</ion-content>
